@{
    ViewData["Title"] = "Home Page";
}

<section id="content">
    <div class="container">
        <div class="row">
            <employee-app>Loading...</employee-app>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        System.config({
            packages: {
                'js': { defaultExtension: 'js' },
                'lib': { defaultExtension: 'js' },
                'ag-grid': { defaultExtension: "js" },
                'ag-grid-ng2': { defaultExtension: "js" }
            },
            map: {
                'ag-grid-ng2': 'lib/npmlibs/ag-grid-ng2',
                'ag-grid': 'lib/npmlibs/ag-grid',
            }
        });

        System.import('js/boot')
            .then(null, console.error.bind(console));
    </script>
}